<a href="https://colab.research.google.com/github/CameronChadwick/data_analysis/blob/main/Intro_to_Pandas%2C_Pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading Data from file


1.   Load the data file from your Google Drive


        from google.colab import drive 
        drive.mount('/content/drive')
        path = '/content/drive/My Drive/Colab Notebooks/PortlandWeather2013b.txt'


2.   read the data using the pandas `.read_csv(file_name)` method


        wx_df = pd.read_csv(path)


3.   If passing in a `.txt` file you'll need to also include the argument - `delim_whitespace = True` -  so that the file is split on whitespace rather than commas (by default)


        wx_df = pd.read_csv(path, delim_whitespace = True)

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')
path = '/content/drive/My Drive/Colab Notebooks/PortlandWeather2013b.txt'

Mounted at /content/drive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

wx_df = pd.read_csv(path, delim_whitespace = True)
wx_df

,STATION,DATE,PRCP,SNWD,SNOW,TMAX,TMIN
0,-----------------,--------,--------,--------,--------,--------,--------
1,GHCND:USW00014764,20130101,0,254,0,0,-117
2,GHCND:USW00014764,20130102,0,254,0,-44,-161
3,GHCND:USW00014764,20130103,0,229,0,-50,-178
4,GHCND:USW00014764,20130104,0,229,0,11,-128
...,...,...,...,...,...,...,...
361,GHCND:USW00014764,20131227,0,200,0,0,-138
362,GHCND:USW00014764,20131228,0,200,0,28,-77
363,GHCND:USW00014764,20131229,221,200,33,17,-66
364,GHCND:USW00014764,20131230,0,200,0,17,-132
365,GHCND:USW00014764,20131231,3,-9999,-9999,-105,-171

# Clean Data

## Data Types
Know the data-types contained in the data frame

In [ ]:
# use pandas to display the data-types of the data contained in the dataframe
wx_df.info

<bound method DataFrame.info of                STATION      DATE      PRCP      SNWD      SNOW      TMAX  \
0    -----------------  --------  --------  --------  --------  --------
1    GHCND:USW00014764  20130101         0       254         0         0
2    GHCND:USW00014764  20130102         0       254         0       -44
3    GHCND:USW00014764  20130103         0       229         0       -50
4    GHCND:USW00014764  20130104         0       229         0        11
..                 ...       ...       ...       ...       ...       ...
361  GHCND:USW00014764  20131227         0       200         0         0
362  GHCND:USW00014764  20131228         0       200         0        28
363  GHCND:USW00014764  20131229       221       200        33        17
364  GHCND:USW00014764  20131230         0       200         0        17
365  GHCND:USW00014764  20131231         3     -9999     -9999      -105

         TMIN
0    --------
1        -117
2        -161
3        -178
4        -128
..        ...
361      -138
362       -77
363       -66
364      -132
365      -171

[366 rows x 7 columns]>

## Column Cleanup


1.   Get columns

          og_df.columns


2.   Change column names
        
        A. replace all column names with a list
              og_df.columns = ['station', 'date', 'prcp', 'snwd', 'snow', 'tmax', 'tmin']    # typing out a list of replacement values

              og_df.columns = [col.lower() for col in og_df]   # using list comprehension
        C. format names using `.str` method along with `.strip( )` for whitespace removal; `.lower( )` for case changes; `.replace(old, new)` to replace one char for another
              og_df.columns = og_df.columns.str.lower()  # change every column name to lower case


3.   Delete Columns

      temporarily
          og_df.drop([col1, col2, ...], axis=1)   # axis = 1 is a reference to columns
      
      permantly -> add `inplace=True`

          og_df.drop([col1, col2, ...], axis=1, inplace = True)
      
      else -> make a copy of original df then drop the cols of that
        
          new_df = wx_df.copy()
          new_df.drop([col1, col2, ...], axis=1, inplace=True)

4.   Add new column

          new_df[col_name] = values (must match length of dataframe)

5.   Replace indices

          new_df.set_index(col_name, inplace=True)

In [ ]:
wx_df.columns = wx_df.columns.str.lower()
wx_df.drop(['station'], axis=1, inplace=True)
wx_df

         date      prcp      snwd      snow      tmax      tmin
0    --------  --------  --------  --------  --------  --------
1    20130101         0       254         0         0      -117
2    20130102         0       254         0       -44      -161
3    20130103         0       229         0       -50      -178
4    20130104         0       229         0        11      -128
..        ...       ...       ...       ...       ...       ...
361  20131227         0       200         0         0      -138
362  20131228         0       200         0        28       -77
363  20131229       221       200        33        17       -66
364  20131230         0       200         0        17      -132
365  20131231         3     -9999     -9999      -105      -171

[366 rows x 6 columns]

## Row Cleanup

### Delete Rows

Use `.drop( )` on the dataframe with axis 0 (rows)

            og_df.drop(row(s), axis=0, inplace=True)

When deleting rows the indices for those rows are also deleted.  It may be desirable to reset the indices.


A. First make a Pandas series with the values of the indices desired (make sure to import Numpy)

            new_indices = pd.Series(np.arange(start, stop)))

B. Use `.set_index( )` on the dataframe

            og_df.set_index(new_indices, inplace=True)

In [ ]:
# drop the first row as it doesn't contain any data, then reset the indices

wx_df.drop(0, axis=0, inplace=True) # Drop first row

new_indices = pd.Series(np.arange(0, 365)) # Create new indicies

wx_df.set_index(new_indices, inplace=True) # Use new indices
wx_df.head()

       date prcp snwd snow tmax  tmin
0  20130101    0  254    0    0  -117
1  20130102    0  254    0  -44  -161
2  20130103    0  229    0  -50  -178
3  20130104    0  229    0   11  -128
4  20130105    0  229    0   22   -89

### Changing Data

#### Changing data-types 

    using `.astype(dtype)`
      
      og_df[col] = og_df[col].astype(dtype)   # object, int, float

In [ ]:
# change the data type of snwd column to int32, use .info() to see the change
wx_df['snwd'] = wx_df['snwd'].astype(int)
wx_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    365 non-null    object
 1   prcp    365 non-null    object
 2   snwd    365 non-null    int64
 3   snow    365 non-null    object
 4   tmax    365 non-null    object
 5   tmin    365 non-null    object
dtypes: int64(1), object(5)
memory usage: 20.0+ KB

In [ ]:
# your turn
# change the data types of the other columns
# to the appropriate data type
wx_df[['tmax', 'tmin', 'prcp', 'snow']] = wx_df[['tmax', 'tmin', 'prcp', 'snow']].astype(int)
wx_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    365 non-null    object
 1   prcp    365 non-null    int64
 2   snwd    365 non-null    int64
 3   snow    365 non-null    int64
 4   tmax    365 non-null    int64
 5   tmin    365 non-null    int64
dtypes: int64(5), object(1)
memory usage: 20.0+ KB

#### Changing Data Values (Single Column)

Similar to changing data types, you can add any expression to the right side of the = 

        og_df[col] = a * og_df[col] + b.   # example of random conversion relationship

In [ ]:
# convert snwd to inches -> mm divided by 25.4

wx_df['snwd'] = wx_df['snwd'] / 25.4

wx_df.head(10)

       date  prcp       snwd  snow  tmax  tmin
0  20130101     0  10.000000     0     0  -117
1  20130102     0  10.000000     0   -44  -161
2  20130103     0   9.015748     0   -50  -178
3  20130104     0   9.015748     0    11  -128
4  20130105     0   9.015748     0    22   -89
5  20130106     0   9.015748     3    28   -89
6  20130107     0   9.015748     0    -6   -94
7  20130108     0   9.015748     0    61  -106
8  20130109     0   9.015748     0    44   -89
9  20130110     0   9.015748     0    67   -28

In [ ]:
# your turn
# change the snow and prcp columns from mm to inches

wx_df[['snow', 'prcp']] = wx_df[['snow', 'prcp']] / 25.4

wx_df.tail(10)

         date      prcp        snwd        snow  tmax  tmin
355  20131222  3.110236    7.086614    0.000000    17   -27
356  20131223  2.716535    7.086614    0.000000     6   -27
357  20131224  0.000000    7.086614    0.000000     6   -88
358  20131225  0.000000    7.086614    0.000000   -66  -149
359  20131226  2.007874    7.086614    2.007874   -38  -110
360  20131227  0.000000    7.874016    0.000000     0  -138
361  20131228  0.000000    7.874016    0.000000    28   -77
362  20131229  8.700787    7.874016    1.299213    17   -66
363  20131230  0.000000    7.874016    0.000000    17  -132
364  20131231  0.118110 -393.661417 -393.661417  -105  -171

#### Changing Data Values (Multiple Columns)

Same as single row except notice that the columns to be changed are placed in a list

        og_df[[col1, col2, ...]] = a * og_df[[col1, col2, ...]] + b.   # example of random conversion relationship

In [ ]:
# your turn
# change the tmax and tmin columns to Fahrenheit
wx_df[['tmax', 'tmin']] = wx_df[['tmax', 'tmin']] / 10 * 1.8 + 32
wx_df.head(10)

       date  prcp       snwd     snow   tmax   tmin
0  20130101   0.0  10.000000  0.00000  32.00  10.94
1  20130102   0.0  10.000000  0.00000  24.08   3.02
2  20130103   0.0   9.015748  0.00000  23.00  -0.04
3  20130104   0.0   9.015748  0.00000  33.98   8.96
4  20130105   0.0   9.015748  0.00000  35.96  15.98
5  20130106   0.0   9.015748  0.11811  37.04  15.98
6  20130107   0.0   9.015748  0.00000  30.92  15.08
7  20130108   0.0   9.015748  0.00000  42.98  12.92
8  20130109   0.0   9.015748  0.00000  39.92  15.98
9  20130110   0.0   9.015748  0.00000  44.06  26.96

#### Changing Data Values (Single Cell)

In [ ]:
wx_df.loc[364, 'snow'] = 0
wx_df.loc[364, 'snwd'] = wx_df.loc[363, 'snwd'] 
wx_df.tail()

         date      prcp      snwd      snow   tmax   tmin
360  20131227  0.000000  7.874016  0.000000  32.00   7.16
361  20131228  0.000000  7.874016  0.000000  37.04  18.14
362  20131229  8.700787  7.874016  1.299213  35.06  20.12
363  20131230  0.000000  7.874016  0.000000  35.06   8.24
364  20131231  0.118110  7.874016  0.000000  13.10   1.22

## Adding Data

#### New column filled with data

        og_df[col_name] = value (or expression to calculate a value)

In [ ]:
# your turn
# replace the last values of the snow and snwd columns with an appropriate value
# do this by using the value from the previous row for each
# use .tail() to show the changes have been made

In [ ]:
# your turn
# make a new column "avg_temp" that contains the avg daily temperature 
# (use tmax and tmin cols) for each day
# use .head() to show the changes have been made

wx_df['avg_temp'] = wx_df['tmax'] / 2 + wx_df['tmin'] / 2
wx_df.head(10)

       date  prcp       snwd     snow   tmax   tmin  avg_temp
0  20130101   0.0  10.000000  0.00000  32.00  10.94     21.47
1  20130102   0.0  10.000000  0.00000  24.08   3.02     13.55
2  20130103   0.0   9.015748  0.00000  23.00  -0.04     11.48
3  20130104   0.0   9.015748  0.00000  33.98   8.96     21.47
4  20130105   0.0   9.015748  0.00000  35.96  15.98     25.97
5  20130106   0.0   9.015748  0.11811  37.04  15.98     26.51
6  20130107   0.0   9.015748  0.00000  30.92  15.08     23.00
7  20130108   0.0   9.015748  0.00000  42.98  12.92     27.95
8  20130109   0.0   9.015748  0.00000  39.92  15.98     27.95
9  20130110   0.0   9.015748  0.00000  44.06  26.96     35.51

## Handling Missing Data


Drop rows with any column having NA/null data.
        
        df.dropna()


Replace all NA/null data with value

        df.fillna(value)

## DateTime

### Panda's Date Object to DateTime

According to `og_df.info()` above, the data type of the **date** column is an object, which means the timestamps are stored as string values. To convert the data type of the datetime column from a string object to a datetime64 object, we can use the pandas to_datetime() method, as follows:

        of_df['date'] = pd.to_datetime(og_df['date'])

In [ ]:
# change the values in the date column to datetime objects
# run wx_df.info() to verify that they are now datetime objects
wx_df['date'] = pd.to_datetime(wx_df['date'])
wx_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      365 non-null    datetime64[ns]
 1   prcp      365 non-null    float64
 2   snwd      365 non-null    float64
 3   snow      365 non-null    float64
 4   tmax      365 non-null    float64
 5   tmin      365 non-null    float64
 6   avg_temp  365 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 30.9 KB

Now, the data type of the datetime column should be a **datetime64[ns]** object. The **[ns]** means the nano second-based time format that specifies the precision of the DateTime object.

### Change to DateTime when Loading Data

Also, we can let the pandas **`read_csv()`** method parse certain columns as **DataTime** objects, which is more straightforward than using the **`to_datetime()`** method. 

        df = pd.read_csv(file_path, parse_dates=['date'])
        df.head()

### Get year, month, and day
**`dt.year`**, **`dt.month`** and **`dt.day`** are the inbuilt attributes to get year, month , and day from Pandas datetime object.

And to get year, month, and day

        og_df['year']= og_df['date'].dt.year
        og_df['month']= og_df['date'].dt.month
        og_df['day']= og_df['date'].dt.day

In [ ]:
# your turn
# Add 'month' and 'day' columns and fill them with the correct values
# use og_df.sample(n=10) to display 10 randomly chosen rows

wx_df['month']= wx_df['date'].dt.month
wx_df['day']= wx_df['date'].dt.day

wx_df.sample(n=10)

          date      prcp      snwd  snow   tmax   tmin  avg_temp  month  day
201 2013-07-21  0.000000  0.000000   0.0  75.02  62.96     68.99      7   21
105 2013-04-16  0.000000  0.000000   0.0  57.02  37.04     47.03      4   16
138 2013-05-19  0.787402  0.000000   0.0  57.02  48.92     52.97      5   19
191 2013-07-11  0.118110  0.000000   0.0  80.06  66.02     73.04      7   11
364 2013-12-31  0.118110  7.874016   0.0  13.10   1.22      7.16     12   31
17  2013-01-18  0.000000  5.984252   0.0  19.94   8.96     14.45      1   18
31  2013-02-01  0.000000  0.000000   0.0  30.92  17.06     23.99      2    1
240 2013-08-29  0.000000  0.000000   0.0  69.08  60.08     64.58      8   29
68  2013-03-10  0.000000  5.000000   0.0  37.94  24.08     31.01      3   10
169 2013-06-19  0.000000  0.000000   0.0  75.02  50.00     62.51      6   19

In [ ]:
# your turn
# using wx_df create 2 python lists containing the average max/min temps for each month
min_avg = []
max_avg = []

## Plotting Side-by-Side Bar Graphs

In **`plt.bar( )`** make sure to adjust the list names for the temps to match what you used above

In [ ]:
month_names = ['January', 'February', 'March', 'April', 'May',
          'June', 'July', 'August', 'September', 'October', 
          'November', 'December']

# array of numerical values for months to be used in intial bargraph
# needed to be able to move the bars
x_indices = np.arange(1, len(month_names)+1)

# standard bar width is .8, set a width a little less than width divided by the 
# number of bars
width = .39
shift = width / 2

plt.style.use('seaborn')

# x-values, for graphing purposes, are goind to be the indices array +/- the shift
plt.bar(x_indices+shift, max_avgs, width=width, color='orangered', label="High Temps")
plt.bar(x_indices-shift, min_avgs, width=width, color='deepskyblue', label="Low Temps")
plt.legend()
plt.title("Average Hi/Low Temps\nPortland, ME - 2013")
plt.xlabel("Months")
plt.ylabel("Temperature (F)")

# convert the x-values into the names and rotate
# ticks = current xtick values
# labels = values to be changed to
plt.xticks(ticks=x_indices, labels=month_names, rotation=60)

plt.show()

NameError: ignored